<form class="coriolis-aio-gen-dialog">
  {{!-- Decorative header --}}
  <div class="coriolis-dialog-header">
    <div class="coriolis-star-row">
      <span class="coriolis-star"></span>
      <span class="coriolis-star"></span>
      <span class="coriolis-star"></span>
    </div>
    <p class="coriolis-dialog-subtitle">The Third Horizon awaits a new soul...</p>
  </div>

  {{!-- Identity section --}}
  <fieldset class="coriolis-section">
    <legend><i class="fas fa-id-card"></i> Identity</legend>

    <div class="form-group">
      <label for="aio-actor-type">{{localize "CORIOLIS_AIO.Dialog.ActorType"}}</label>
      <select id="aio-actor-type" name="actorType">
        <option value="character">{{localize "CORIOLIS_AIO.Dialog.Character"}}</option>
        <option value="npc">{{localize "CORIOLIS_AIO.Dialog.NPC"}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="aio-name">{{localize "CORIOLIS_AIO.Dialog.Name"}}</label>
      <input type="text" id="aio-name" name="name" placeholder="{{localize "CORIOLIS_AIO.Dialog.NamePlaceholder"}}" />
    </div>
  </fieldset>

  {{!-- Concept section --}}
  <fieldset class="coriolis-section">
    <legend><i class="fas fa-dice-d20"></i> Concept</legend>

    <div class="form-group">
      <label for="aio-concept">{{localize "CORIOLIS_AIO.Dialog.Concept"}}</label>
      <select id="aio-concept" name="conceptKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
        {{#each concepts}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="aio-subconcept">{{localize "CORIOLIS_AIO.Dialog.SubConcept"}}</label>
      <select id="aio-subconcept" name="subConceptKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="aio-group-concept">{{localize "CORIOLIS_AIO.Dialog.GroupConcept"}}</label>
      <select id="aio-group-concept" name="groupConceptKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
        {{#each groupConcepts}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </select>
    </div>
  </fieldset>

  {{!-- Background section --}}
  <fieldset class="coriolis-section">
    <legend><i class="fas fa-star-and-crescent"></i> Background</legend>

    <div class="form-group">
      <label for="aio-upbringing">{{localize "CORIOLIS_AIO.Dialog.Upbringing"}}</label>
      <select id="aio-upbringing" name="upbringingKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
        {{#each upbringings}}
        <option value="{{@key}}">{{this.label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="aio-origin">{{localize "CORIOLIS_AIO.Dialog.Origin"}}</label>
      <select id="aio-origin" name="originKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
        {{#each origins}}
        <option value="{{this.key}}">{{this.label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="aio-icon">{{localize "CORIOLIS_AIO.Dialog.Icon"}}</label>
      <select id="aio-icon" name="iconKey">
        <option value="">{{localize "CORIOLIS_AIO.Dialog.Random"}}</option>
        {{#each icons}}
        <option value="{{this.key}}">{{this.label}}</option>
        {{/each}}
      </select>
    </div>
  </fieldset>
</form>
